<%- include("../includes/head")  %> 

<body>
    <%- include("../includes/header")  %> 

    <main>
       
                <article> 
                    <img src= "/images/<%=product.image %>">
                <section class="articleInfo">
                    <h1><%= product.name %> </h1>
                     <p class="prices">$ <%= product.price %> </p>  
                     <li>
                         <ul><%= product.description %></ul>
                   </li>    
                <form action="GET">
                    <button type="submit">Comprar ahora</button>
                </form>      
                </section> 
                </article>
               
    </main>

    <%- include("../includes/footer") %> %> 
</body>