<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 
    
    <main>
        <% if (user) { %>
            <h1>Bienvenido <%= user.name %> ! </h1>
            <% } %>
        <picture class="homeBanner"><img src="/images/home-banner.jpg" alt="homeBanner"></picture> 
        <section><h2>Basado en tu última visita</h2></section>
        <section class="lastVisits">
            <% products.forEach(element => { %>
                <a href=""> 
                <article>
                    <a href="/products/<%= element.id %>">
                    <img src= "/images/<%=element.image %>">
                <section class="articleInfo">
                    <i class="fas fa-truck"></i> 
                    <section class="topArticleInfo">
                     <p class="prices">$ <%= element.price %> </p>
                     <p class="discounts"><%= element.discount %>% OFF</p>   
                    </section>
                <p class="descriptions"> <%= element.name %> </p>  
                </section>
                </article>
            </a>
            <% }) %>
        </section>

        <section><h2>Ofertas</h2></section>
        <section class="offers">
            <% products.forEach(element => { %>
                <a href=""> 
                    <article>
                        <a href="/products/<%= element.id %>">
                        <img src= "/images/<%=element.image %>">
                    <section class="articleInfo">
                        <i class="fas fa-truck"></i> 
                        <section class="topArticleInfo">
                         <p class="prices">$ <%= element.price %> </p>
                         <p class="discounts"><%= element.discount %>% OFF</p>   
                        </section>
                    <p class="descriptions"> <%= element.name %> </p>  
                    </section>
                    </article>
                </a>
            <% }) %>
        </section>
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>