<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 
    
    <main>
        <picture class="homeBanner"><img src="/images/home-banner.jpg" alt="homeBanner"></picture> 
        <section><h2>Basado en tu última visita</h2></section>
        <section class="lastVisits">
            <% products.forEach(element => { %>
                <article>
                    <img src= "/images/<%=element.image %>">
                <section class="articleInfo">
                    <i class="fas fa-truck"></i> 
                    <section class="topArticleInfo">
                     <p class="prices">$ <%= element.price %> </p>
                     <p class="discounts"><%= element.discount %>% OFF</p>   
                    </section>
                <p class="descriptions"> <%= element.name %> </p>  
                </section>
                </article>
            <% }) %>
        </section>

        <section><h2>Ofertas</h2></section>
        <section class="offers">
            <% products.forEach(element => { %>
                <article>
                    <img src= "/images/<%=element.image %>">
                <section class="articleInfo">
                    <i class="fas fa-truck"></i> 
                    <section class="topArticleInfo">
                     <p class="prices">$ <%= element.price %> </p>
                     <p class="discounts"><%= element.discount %>% OFF</p>   
                    </section>
                <p class="descriptions"> <%= element.name %> </p>  
                </section>
                </article>
            <% }) %>
        </section>
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>