<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 

    <main>
        <form action="/users/access" method="POST">
            <h2>Inicio de Sesión</h2>
            <section class="form">
                <label for="">Nombre de usuario:</label>
                <input type="text" name="userId" id="">
                <% if (locals.errors && errors.userId) { %>
                    <p><%= errors.userId.msg %> </p>
                <% } %>
                <br>

                <label for="">Contraseña:</label>
                <input type="password" name="password" placeholder="*************">
                 <% if (locals.errors && errors.password) { %>
                    <p><%= errors.password.msg %> </p>
                <% } %>
                <br>

                 <label for="">Recordarme
                     <input type="checkbox" name="remember" id="remmeber">
                 </label>
                <button type="submit">Iniciar Sesión</button>   
            </section>
        </form>  
        
           
          
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>