<%- include("./includes/head")  %> 

<body>
    <%- include("./includes/header")  %> 

    <main>
        <form action="/users/" method="POST" enctype="multipart/form-data">
            <section><h2>Crear cuenta</h2></section>
            <section class="form">
                <h2>Datos personales</h2>
                <label>Nombre:</label>
                <input type="text" name="name" id="name" minlength="2" >
                <% if (locals.errors && errors.name) { %>
                    <p><%= errors.name.msg %> </p>
                <% } %>
                <br>

                <label for="">Apellido:</label>
                <input type="text" name="lastName" id="lastName">
                <% if (locals.errors && errors.lastName) { %>
                    <p><%= errors.lastName.msg %> </p>
                <% } %>
                <br>

                <label for="">Correo electrónico:</label>
                <input type="email" name="email" id="email">
                <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %> </p>
                <% } %>
                <br>

                <label for="">Fecha de nacimiento:</label>
                <input type="date" name="birthdayDate" id="birthdayDate">
                <% if (locals.errors && errors.birthdayDate) { %>
                    <p><%= errors.birthdayDate.msg %> </p>
                <% } %>
                <br>

                <label for="">Domicilio:</label>
                <input type="text" name="adress" id="adress">
                <% if (locals.errors && errors.adress) { %>
                    <p><%= errors.adress.msg %> </p>
                <% } %>
                <br>

            </section>
            <section class="form">
                <h2>Perfil del Usuario</h2>
                <label for="">Nombre de usuario:</label>
                <input type="text" name="userId" id="userId">
                <% if (locals.errors && errors.userId) { %>
                    <p><%= errors.userId.msg %> </p>
                <% } %>
                <br>

                <label for="">Contraseña:</label>
                <input type="password" name="password" minlength="8" placeholder="*************" id="password">
                <% if (locals.errors && errors.password) { %>
                    <p><%= errors.password.msg %> </p>
                <% } %>
                <br>

                <label for="">Tipo de usuario:</label>
                <select name="rol" id="">
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                </select>
                <label for="">Intereses:
                    <section class="interests">
                        <label for="electronica"><input type="checkbox" name="interests" value="electronica" id="electronica"> Electronica</label>
                        <label for="moda"><input type="checkbox" name="interests" value="moda" id="moda"> Moda</label>
                        <label for="hogar"><input type="checkbox" name="interests" value="hogar" id="hogar"> Hogar</label>
                        <label for="juguetería"><input type="checkbox" name="interests" value="juguetería" id="juguetería"> Juguetería</label>
                        <label for="vidaSana"><input type="checkbox" name="interests" value="vidaSana" id="vidaSana"> Vida sana</label>   
                    </section>
                </label>  
                
            <section>  
                <label for="">Foto de perfil:</label>
                <input type="file" name="image" class="profilePicture" id="image">
                <% if (locals.errors && errors.image) { %>
                    <p><%= errors.image.msg %> </p>
                <% } %>
                <br>

                <button type="submit">Registrarme</button> 
                <button type="reset">Borrar</button>
            </section>
        </form>
        <script src="/js/register.js"></script>
    </main>

    <%- include("./includes/footer")  %>    
</body>
</html>