<%- include("../includes/head")  %> 

<body>
    <%- include("../includes/header")  %>

    <main>
        <% users.forEach(element => { %>
            <article>
                <h1 id="name"><%= element.name %>  <%= element.lastName %> </h1>
                <img src="/uploads/<%= element.image %>" alt="">
                <div>
                    <p id="information"> <strong>Nombre de usuario :</strong> <%= element.userId %> </p>
                    <p id="information"> <strong>Mail :</strong>  <%= element.email %> </p>
                    <p id="information"><strong>Rol :</strong>  <%= element.rol %> </p>
                </div>
                
                <% if (element.isAdmin) { %>
                    <p id="information">Este usuario es administrador.</p>
                <% } %>

                <% if (!element.isActive) { %>
                    <p id="information">Este usuario no se encuentra activo</p>
                <% } %>

                <section class="adminsIcons">
                    <a href="/users/edit/<%= element.id %>"><i class="fas fa-pen"></i></a>
                    <form action="/users/?m=DELETE" method="post">
                      <input type="hidden" name="id" value="<%= element.id %>">
                      <button type="submit" class="deleteButton"><i class="fas fa-trash"></i></button>
                  </form>
                </section>

            </article>
        <% }) %>
    </main>

    <%- include("../includes/footer")  %>
</body>