<%- include("../includes/head")  %> 

<body class="body">
    <%- include("../includes/header")  %>

    <main>
        <h1 class="titulo">Mi usuario:</h1> 
    <article>
        <div class="div">
        <h2 class="nombres"><%= user.name %> <%= user.lastName %> </h2>
        <p class="email"><%= user.email %> </p>
        <img src= "/uploads/<%=user.image %>">
        
      <% if (user.isAdmin == true) { %>
       <p>este usuario es administrador</p>
      <% } %>  

      <% if (user.isActive == true) { %>
        <p class="actividad"> este usuario esta activo </p>
       <% } %> 
    
    <p class="datos">Actualizá tus datos:</p>
    <a href="/users/edit/<%= user.id %>" ><i class="fas fa-pen" id="penButtom"></i></a>
    </div>
   </article>
</main>

    <%- include("../includes/footer")  %>

</body>
</html>